.container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.card {
  margin-top: 25px;
  margin-bottom: 25px;
}
