<!-- <div class="modal-container" *ngIf="pokemon">
  <div class="card-container" [ngStyle]="{'background-color': cardColor}">
    <div class="image-container">
      <div class="image-asset">
        <img [src]="pokemonURL" [alt]="pokemon.name">
      </div>
    </div>
    <div class="name-container">
      <p>{{ pokemon.name | titlecase }}</p>
    </div>
    <div class="stats-container">
      <div>Type: {{pokemon.type}}</div>
      <div>HP:  {{pokemon.hp}}</div>
      <div>Attack:  {{pokemon.attack}}</div>
      <div>Defense:  {{pokemon.defense}}</div>
      <div>Special attack:  {{pokemon.special_attack}}</div>
      <div>Special Defense:  {{pokemon.special_defense}}</div>
      <div>Speed:  {{pokemon.speed}}</div>
    </div>
  </div>
</div> -->

